<div class="container">
  <input #fullName>
  <select #role>
    <option value="admin">Admin</option>
    <option value="user">User</option>
    <option value="guest">Guest</option>
  </select>
  <select #status>
    <option value="active">Active</option>
    <option value="inactive">Inactive</option>
    <option value="banned">Banned</option>
  </select>
  <hr>
  <button (click)="addUserHandler(fullName.value, role.value, status.value)">Add User</button>
</div>

<!-- <app-user-item> </app-user-item>
<button (click)="addUserHandler(fullName.value, role.value)">Add Use</button>
</div> -->